In [ ]:
%pip install pandas
%pip install faker

In [2]:
import pandas as pd
import sqlite3
from faker import Faker

In [ ]:

fake = Faker()
db_name = 'database.db'

conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Créer des table utilisateurs et vehicules
cursor.execute('''
CREATE TABLE IF NOT EXISTS utilisateurs (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nom TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    adresse TEXT NOT NULL,
    telephone TEXT NOT NULL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS vehicules (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    marque TEXT NOT NULL,
    modele TEXT NOT NULL,
    annee INTEGER NOT NULL,
    utilisateur_id INTEGER,
    FOREIGN KEY (utilisateur_id) REFERENCES utilisateurs(id)
)
''')

# Insérer des données aléatoires dans la table utilisateurs
for _ in range(10):
    nom = fake.name()
    email = fake.email()
    adresse = fake.address()
    telephone = fake.phone_number()
    cursor.execute('''
    INSERT INTO utilisateurs (nom, email, adresse, telephone)
    VALUES (?, ?, ?, ?)
    ''', (nom, email, adresse, telephone))

# Insérer des données aléatoires dans la table vehicules
for _ in range(10):
    marque = fake.company()
    modele = fake.word()
    annee = fake.year()
    utilisateur_id = fake.random_int(min=1, max=10)
    cursor.execute('''
    INSERT INTO vehicules (marque, modele, annee, utilisateur_id)
    VALUES (?, ?, ?, ?)
    ''', (marque, modele, annee, utilisateur_id))

conn.commit()

print(f"La base de données '{db_name}' a été créée avec succès et les données ont été insérées.")

conn.close()

In [ ]:
# Se connecter à la base de données SQLite
conn = sqlite3.connect('database.db')

# Définir la requête SQL pour récupérer des données des tables 'utilisateurs''
query_utilisateurs = "SELECT * FROM utilisateurs;"

# Exécuter la requête SQL pour 'utilisateurs' et charger les résultats dans un DataFrame pandas
df_utilisateurs = pd.read_sql_query(query_utilisateurs, conn)

# Afficher les 5 premières lignes du DataFrame 'utilisateurs'
print("Table Utilisateurs:")
print(df_utilisateurs.head())

# Fermer la connexion à la base de données
conn.close()